{% extends './basebuzon.html' %}
{% block title %} Buzon {% endblock %} 

{% block body %}

<body>
  <!--FORMULARIO.-->
  <div class="container mt-3">
    {% if message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <h2 class="icono-texto">
      Buzón 
      <i class="bi bi-envelope-paper-fill icono-texto"> </i>
    </h2>

    <form class="formu" method="POST" action="{{ url_for('guardar_queja_sugerencia') }}">
      <div class="mb-3 form-group-sm">

        <label for="tipo" class="form-label">Tipo de Queja</label>
        <select class="form-select" id="tipo" name="tipo" required>
          <option value="administrativo">administrativa</option>
          <option value="docente">docente</option>
          <option value="alumnado">alumnado</option>
          <option value="mobiliario">mobiliario</option>
          <option value="general">general</option>
        </select>
      </div>

      <input type="hidden" class="form-control" id="fecha_hora" name="fecha_hora" value="{{ current_date }}">

      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" placeholder="Escribe aquí tu mensaje" required></textarea>
      </div>
      <div class="mb-3">
        <label for="foto" class="form-label">Evidencia (Video, audio o imagen)</label>
        <input class="form-control" type="file" id="foto" />
      </div>
      <div class="mb-3">
        <label for="sugerencia" class="form-label">Sugerencia</label>
        <textarea class="form-control" id="sugerencia" name="sugerencia" placeholder="Escribe aquí tu sugerencia"></textarea>
      </div>
      <button class="btn btn-success fa-bold animated-button animate__pulse" type="submit" name="action">
        <span> ENVIAR <i class="fas fa-paper-plane"></i> </span> 
      </button>
    </form>
  </div>




  

{% endblock %} 