{% extends './home.html' %}

{% block title %} login {% endblock %}
{% block body %}

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/login.css') }}">
</head>

<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form method="POST" action="{{ url_for('insertUsuario') }}">
      <h1>Crear cuenta</h1>
      <div class="social-container">
        <a href="#" class="social a"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social a"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social a"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>o usa tu correo electronico para registrarte!</span>
      <input type="text" class="form-control" id="matricula" name="usuarioid" placeholder="Ingresa tu matricula" required>
      <input type="email" class="form-control" id="email" name="usuariocorreo" placeholder="Ingresa tu correo electronico" required>
      <input type="password" class="form-control" id="contrasena" name="usuariocontra" placeholder="Ingresa una contraseña" required>
      <div class="terminos-y-condiciones">
        <input type="checkbox" id="acepto-terminos" name="acepto-terminos">
        <label for="acepto-terminos">Acepto los <a class="a" href="terminos_y_condiciones.html" target="_blank">términos y condiciones</a></label>
    </div>
      <button type="submit" class="btn-primary">Registrarse</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form method="POST" action="{{ url_for('login') }}">
      <h1 class="h1">Inicio de sesion</h1>
      {% if message %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <div class="social-container">
        <a href="#" class="social a"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social a"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social a"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>o usa tu cuenta.</span>
      <input type="email" class="form-control" id="email" name="email" required placeholder="Ingresa tu e-mail">
      <input type="password" class="form-control" id="contrasena" name="contrasena" required
        placeholder="ingresa tu contraseña">
      <a class="a" href="#">Olvidaste tu contraseña?</a>
      <button type="submit" href="{{ url_for('Buzon') }}">Iniciar Sesión</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h2>Bienvenido de nuevo!</h2>
        <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
        <button class="ghost" id="signIn">Iniciar sesion</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h2>Hola, Amigo!</h2>
        <p>Introduce tus datos personales y comienza con nosotros</p>
        <button class="ghost" id="signUp">Unete ahora</button>
      </div>
    </div>
  </div>
</div>

<script>
  const signUpButton = document.getElementById('signUp');
  const signInButton = document.getElementById('signIn');
  const container = document.getElementById('container');

  signUpButton.addEventListener('click', () =>
    container.classList.add('right-panel-active'));

  signInButton.addEventListener('click', () =>
    container.classList.remove('right-panel-active'));
</script>
{% endblock %}