{% extends './basebuzon.html' %}
{% block title %} Pefil {% endblock %} 

{% block body %}
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/perfil.css') }}">
  </head>
<!--==========================
=            html            =
===========================-->
<section class="seccion-perfil-usuario">
  <div class="perfil-usuario-header">
    <div class="perfil-usuario-portada">
      <div class="perfil-usuario-avatar">
        <img
          src="{{ url_for('static', filename='img/user.png') }}"
          alt="img-avatar"
        />
        <button type="button" class="boton-avatar">
          <i class="far fa-image"></i>
        </button>
      </div>
      <button type="button" class="boton-portada">
        <i class="far fa-image"></i> Cambiar fondo
      </button>
    </div>
  </div>
  <div class="perfil-usuario-body">
    <div class="perfil-usuario-bio">
      <h3 class="titulo">Usuario - ID - {{session['idUsuario']}}</h3>
      
      <p class="texto">Texto de referencia sobre el usuario.</p>
    </div>
  </div>
</section>
<!--====  End of html  ====-->

<div class="container-fluid">
  <div class="card shadow">
    <div class="card-body">
      <h1 class="text-center mt-5 mb-3 text-primary">Mis Quejas</h1>
      <!--Empieza la tabla de quejas-->
      <table class="table table-bordereds">
        <h3>
          <p class="p-1 text-center">Registro de quejas.</p>
        </h3>
        <thead>
          <th scope="col">#</th>
          <th scope="col">Tipo</th>
          <th scope="col">Fecha de registro</th>
          <th scope="col">Fecha FIN</th>
          <th scope="col">Mensaje</th>
          <th scope="col">Sugerencia</th>
          <th scope="col">Estatus</th>
          <th scope="col">Rol</th>
          <th scope="col">Periodo</th>
          <th scope="col">Usuario ID</th>
          
          
        </thead>

        <tbody>
          <!--Declaramos el bucle-->
          {% for queja in data_estatus %}
          <tr>
                <td>{{ queja[0] }}</td>
                <td>{{ queja[1] }}</td>
                <td>{{ queja[2] }}</td>
                <td>{{ queja[3] }}</td>
                <td>{{ queja[4] }}</td>
                <td>{{ queja[5] }}</td>
                <td>{{ queja[6] }}</td>
                <td>{{ queja[7] }}</td>
                <td>{{ queja[8] }}</td>
                <td>{{ queja[9] }}</td>
                <td>{{ queja[10] }}</td>
                
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}
