@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 100px; /* Altura de la barra de navegación */
  background: #1488cc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2b32b2, #1488cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
}

.formu {
  
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 3px;
  font-size: 16px;
  border-radius: 35px;
  color: #ffffff;
}

footer {
  background: transparent;
  backdrop-filter: blur(1px);
}

.footer-icon {
  color: #ffffff;
  font-size: 34px;
  margin-right: 10px;
}

.icono-texto {
  text-align: center;
  align-items: center;
  color: #ffffff;
  transition: transform 0.3s ease;
  padding: 1px;
  font-size: 40px;
}

.icono-texto:hover {
  transform: scale(1.3);
  color: rgb(123, 199, 152);
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.25s ease;
}
ul {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
ul li {
  margin-left: 0.75em;
  margin-right: 0.75em;
}
ul:hover a {
  color: #242529;
}
ul:hover a:hover {
  color: rgb(41, 72, 192);
  box-shadow: 0 2px 0 0 currentColor;
}
.logo img {
  height: 30px;
  width: auto;
}
p {
  align-items: flex-end;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}



button {
  font-family: inherit;
  font-size: 17px;
  background: royalblue;
  color: white;
  padding: 0.7em 2.4em;
  padding-left: 0.9em;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  margin: auto; /* Margen automático para centrar verticalmente en el contenedor */
}

button span {
  display: block;
  margin-left: 0.9em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(2.4em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(8em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}