body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(34, 33, 33);
}

h1 {
  color: rgb(34, 33, 33);
}

.card-body {
  font-weight: bold;
  background-color: #dee6eb;
  color: rgb(253, 253, 253);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
