body {
  display: flex;
  flex-direction: column;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(34, 33, 33);
}

h1 {
  color: rgb(34, 33, 33);
}

.card-body {
  font-weight: bold;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(253, 253, 253);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
