
body {
    display: flex;
    flex-direction: column;
    font-size: 16;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(34, 33, 33)
}

h1 {
    color: rgb(34, 33, 33)
}

.card-body {
    font-weight: bold;
    background-color: #e6eaed;
    background-image: linear-gradient(19deg, #c9dafc 0%, #7a97f5 100%);
    color: #bce4f4 100%;
    color: rgb(34, 33, 33);
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}


