@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

body {
  padding-top: 100px;
  /* Altura de la barra de navegación */
  background-image: linear-gradient(-225deg, #008ecf 0%, #1b5d83 100%);
  /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1 {
  font-size: 35px;
  color: #feffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2{
  font-size: 35px;
  color: #fafafa;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  background-repeat: repeat;
}

.nav-item {
  padding: 0 15px;
}

footer {
  background: transparent;
  backdrop-filter: blur(3px);
  padding: 10rem;
}

.footer-icon {
  color: #ffffff;
  font-size: 28px;
  align-items: center;
}

.img {
  text-align: center;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 15px;
  margin: 20px;
  height: 200px;
  width: auto;
}

.img:hover {
  transform: scale(1.1);
}

a {
  color: cornsilk;
}

nav {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

label {
  margin: auto;
  padding: auto;
}

.submit-button {
  background-color: #ffffff;
  color: #2c1eaa;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  margin: 6px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #5a83da;
  color: #fff;
}

li {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  border-radius: 4px;
}

.p-1 {
  color: rgb(34, 33, 33);
}

.table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color:rgba(214, 206, 206, 0.158);
  backdrop-filter: blur(30px);
}

.card-body {
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

th {
  font-weight: bold;
  padding: 10px;
}

td {
  padding: 8px;
}

.modal-content {
  color: rgb(7, 7, 22);
  font-weight: bold;
  padding: auto;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
