@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

body {
  padding-top: 100px;
  /* Altura de la barra de navegación */
  background: #1488cc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2b32b2, #1488cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 35px;
  color: #fffefe;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  background-repeat: repeat;
}

.nav-item {
  padding: 0 15px;
}

footer {
  background: transparent;
  backdrop-filter: blur(3px);
  padding: 10rem;
}

.footer-icon {
  color: #ffffff;
  font-size: 28px;
  align-items: center;
}

.img {
  text-align: center;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 15px;
  margin: 20px;
  height: 200px;
  width: auto;
}

.img:hover {
  transform: scale(1.1);
}

a {
  color: cornsilk;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.modal-content {
  background-size: cover;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #3c3fea 0%, #a4def4 100%);
  color: #fffefe;
  background-repeat: no-repeat;
  border-radius: 25px;
}

/* Estilos para el formulario de inicio de sesión */
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background: transparent;
  color: rgb(250, 250, 250);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: list-item;
  margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}



li {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  border-radius: 4px;
}

.p-1 {
  color: rgb(34, 33, 33);
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 8px;
  border: 1px solid #ffffff00;
}

thead th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.button-home {
  align-items: center;
  appearance: none;
  background-color: #7272ee;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#8181ff 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
 }
 
 .button-home:focus {
  box-shadow: #6666dd 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #7777e2 0 -3px 0 inset;
 }
 
 .button-home:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #7474e5 0 -3px 0 inset;
  transform: translateY(-2px);
 }
 
 .button-home:active {
  box-shadow: #8787e2 0 3px 7px inset;
  transform: translateY(2px);
 }

 /* empieza el boton de iniciar sesion y registrarse*/
 .submit-button {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 7.0em;
  font-size: 20px;
  border-radius: 0.7em;
  background: #fcfaf4;
  border: 1px solid #afe2f55b;
  box-shadow: 6px 6px 12px #b0ede677,
             -6px -6px 12px #94f4f761;
}

.submit-button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.submit-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.submit-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #817b5f;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.submit-button:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.submit-button:hover:before {
  top: -35%;
  background-color: #7b8692;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.submit-button:hover:after {
  top: -45%;
  background-color: #888e90;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
